nav ul { float: right; position: relative; top: 20px; font-weight: bold; }
nav ul li { float: left; padding-top: 10px; margin-left: 20px; border-bottom: 1px dotted #DDD; }
nav ul .active { color: #777; }
.light-weight { font-weight: 300 !important; }
.master { margin-top: 20px; }
.coolboxrow { margin-bottom: 30px; }
.coolbox { margin-top:15px;  border: 1px solid #000; border-radius: 5px; padding: 20px 30px; background-color: #EEE; }
.coolbox p { font-size: 16px; line-height: 1.3em; }
footer { color: #BBB; text-align: center; font-size: 12px; margin-top: 20px;  }
dl { margin-bottom: 20px; }
dt { font-weight: bold; margin: 6px 0; font-size: 1.3em; }
dd { margin-left: 10px; }
