nav.desktop ul { float: right; position: relative; top: 20px; font-weight: bold; list-style: none; }
nav.desktop ul li { float: left; padding-top: 10px; margin-left: 20px; border-bottom: 1px dotted #DDD; }
nav.desktop ul .active { color: #777; }
.light-weight { font-weight: 300 !important; }
.master { margin-top: 20px; }
footer { color: #BBB; text-align: center; font-size: 12px; margin: 20px auto;}
footer p { margin: 0px auto ; padding: 222px auto; }

cite { text-align: right; float: right; }
.certlink { text-align: center; font-size: 1.25em; font-weight: bold; }
.center { text-align: center; }

code { background-color: transparent; font-weight: normal; }
pre code { display: block; padding: 1em; line-height: 1.25em; margin-top: 0.85em; margin-bottom: 0.85em; }

/* homepage */
.welcomebox { padding: 2rem; margin-bottom: 2rem; }
.welcomebox h1 { font-size: 1.7em; }
.checkout { display: block; margin-top: 0.5em; }

/* Showcase */
div.row.showcase { margin-bottom: 3em; }
div.showcase .img { border-radius: 5px; height: 125px; background-size: cover; background-position: center top; background-repeat: no-repeat; border: 1px solid #DDD;}
dl { margin-bottom: 20px; }
dt { font-weight: bold; margin: 6px 0; font-size: 1.3em; }
dd { margin-left: 10px; }
.showlink { font-weight: bold; text-align: center; }

@media only screen and (min-width: 768px) {
	div.showlink { text-align: right; }
}

/* cv */
table.cv {
	border: none;
	font-size: 1.2em;
}

table.cv { margin-bottom: 3em;  }
table.cv th { text-align: left; font-weight: 600; }
table.cv td span { margin-left: 1em;}
table.cv td.location { text-align: right; font-weight: bold; }
table.cv td.time { text-align: right; }
table.cv tr.even, table tr.alt, table tr:nth-of-type(2n) {
	background-color: #FFF;
}

div.row.cv h4 { font-weight: 600; margin-top: 0;}
div.row.cv .large-8 p:first-child { font-style: italic; font-size: 1.125em; margin-left: 0; margin-bottom: 0.5em; }
div.row.cv p { margin-bottom: 0.3em; margin-left: 10px; }
@media only screen and (min-width: 768px) {
	div.row.cv .large-4 h4 { font-size: 1.3em; }
	div.row.cv .large-8 p:first-child { line-height: 1.4em; font-size: 1.3em; }
}
div.row.cv.separate { margin-bottom: 3.5em; }


/* blog */
.blog-description { color: #787878; }

.post h1 { font-size: 26px; }
.post h2 { font-size: 24px; }
.post h3 { font-size: 22px; }
.post h4 { font-size: 20px; }
.post h5 { font-size: 18px; }
.post h6 { font-size: 16px; }
.post .metameta { text-align: right; font-size: 13px; color: #888; margin-bottom: 0.5em; }
.post .meta a { color: #333; }
.post .meta a:hover { color: #777; }
.post .meta h1 { margin: 10px 0 10px 0; }
.post .meta hr { margin: 0 0 10px 0; }
.post .readmore { text-align: right; font-weight: bold; }
.post ul, .post ol { margin-left: 2rem; }
.post:last-of-type{ margin-bottom: 5px; }
.pagectrl { float: right; font-size: 13px; color: #444; margin-bottom: 12px; }
.pagectrl:after { clear: both; }
.pagectrl a { font-weight: bold; }
.content .img { text-align: center; margin-bottom: 17px; }
.content .img p { font-size: 12px; padding: 0; margin: 5px 0 0 0; }
