nav ul { float: right; position: relative; top: 20px; font-weight: bold; list-style: none; }
nav ul li { float: left; padding-top: 10px; margin-left: 20px; border-bottom: 1px dotted #DDD; }
nav ul .active { color: #777; }
.light-weight { font-weight: 300 !important; }
.master { margin-top: 20px; }
.coolboxrow { margin-bottom: 30px; }
.coolbox { margin-top:15px;  border: 1px solid #000; border-radius: 5px; padding: 20px 30px; background-color: #EEE; }
.coolbox p { font-size: 16px; line-height: 1.3em; }
footer { color: #BBB; text-align: center; font-size: 12px; margin-top: 20px;  }
footer p { margin: 0px auto; padding: 222px auto; }
dl { margin-bottom: 20px; }
dt { font-weight: bold; margin: 6px 0; font-size: 1.3em; }
dd { margin-left: 10px; }
cite { text-align: right; float: right; }
.certlink { text-align: center; font-size: 1.25em; font-weight: bold; }
.center { text-align: center; }

code { background-color: #DDD; border: 1px solid #AAA; font-weight: normal; }
pre code { display: block; padding: 1em; line-height: 1.25em; margin-top: 0.85em; margin-bottom: 0.85em; }

.post h1 { font-size: 26px; }
.post h2 { font-size: 24px; }
.post h3 { font-size: 22px; }
.post h4 { font-size: 20px; }
.post h5 { font-size: 18px; }
.post h6 { font-size: 16px; }
.post .metameta { text-align: right; font-size: 13px; color: #888; margin-bottom: 0.5em; }
.post .meta a { color: #333; }
.post .meta a:hover { color: #777; }
.post .meta h1 { margin: 10px 0 10px 0; }
.post .meta hr { margin: 0 0 10px 0; }
.post .readmore { text-align: right; font-weight: bold; }
.post:last-of-type{ margin-bottom: 5px; }
.pagectrl { float: right; font-size: 13px; color: #444; margin-bottom: 12px; }
.pagectrl:after { clear: both; }
.pagectrl a { font-weight: bold; }
.content .img { text-align: center; margin-bottom: 17px; }
.content .img p { font-size: 12px; padding: 0; margin: 5px 0 0 0; }

.idc-share { display: none !important; }
#IDCommentsHeadLogin { display: none !important; }
