table.cv {
	border: none;
	font-size: 1.2em;
}

table.cv th { text-align: left; font-weight: 600; }
table.cv td span { margin-left: 1em;}
table.cv td.location { text-align: right; font-weight: bold; }
table.cv td.time { text-align: right; }
table.cv tr.even, table tr.alt, table tr:nth-of-type(2n) {
	background-color: #FFF;
}
table.cv tr:last-child td, table.cv tr:last-child th { padding-bottom: 0; }

div.row.cv h4 { font-weight: 600; margin-top: 0;}
div.row.cv .large-8 p:first-child { font-style: italic; font-size: 1.125em; margin-left: 0; margin-bottom: 0.5em; }
div.row.cv p { margin-bottom: 0.3em; margin-left: 10px; }

@media only screen and (max-width: 768px) {
	div.row.cv h4:first-child { margin-top: 20px; }
}

@media only screen and (min-width: 768px) {
	div.row.cv .large-4 h4 { font-size: 1.3em; }
	div.row.cv .large-8 p:first-child { line-height: 1.4em; font-size: 1.3em; }
}

table.cv, div.row.cv.separate { margin-bottom: 50px; }

hr { margin: 18px 0 18px 0; }

.show-print { display: none; }
@media only print {

	body { margin: 0 !important; padding: 0 !important; font-size: 14px;}
	.topthing, footer, .no-print {
		display: none !important;
	}

	div.row.cv-title-print {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	div.row.cv-title-print h1 {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	#cvname { font-size: 2.7em; }
	div#cvinfo { text-align: right; }
	div#cvinfo p { margin: 0 0 2px 0; padding: 0; }

	div.row.cv {
		page-break-inside: avoid;
	}

	hr { margin: 0.7em 0 0.7em 0;}

	h4.section-title { font-size: 1.2em !important; }

	table.cv { margin-bottom: 40px !important; }
	div.row.cv.separate { margin-bottom: 20px !important; }
	table.cv th, table.cv td {
		padding: 0.35em 0.1em !important;
		min-width: 120px !important;
	}

	table.cv tr:last-child td, table.cv tr:last-child th { padding-bottom: 0 !important; }

	@page { margin: 15mm; }
	ul { margin-left: 2.5em !important; }

	div.columns {
		float:left !important;
		padding-left:0.9375em !important;
		padding-right:0.9375em !important;
	}

	div.columns.large-8 {
		width: 66.667%;
	}

	div.columns.large-4 {
		width: 33.333%;
	}

	h4 small { margin-left: 10px; }

	div.row.cv .large-8 p:first-child {
		margin-top: -4px;
	}

	span.has-tip { border-bottom: none; font-weight: normal; color: #000; }
}