{% set active_page = "blog" %}

{% extends "templates/_base.html" %}

{% block title %}Blog - Shuhao{% endblock %}

{% block head %}
<link href="blog/feed/index.xml" type="application/atom+xml" rel="alternate" title="Blog Atom feed" />
{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1 page">
    <div class="pure-g">
      {% for post in posts %}
      {% if not post.draft %}
      <div class="pure-u-1 pure-u-md-4-5 blogpost-title">
        <a href="{{ post.href }}">{{ post.title }}</a>
      </div>

      <div class="pure-u-1 pure-u-md-1-5 blogpost-date">
        {{ post.created_at }}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <p class="blog-page-controls">
      {% if page_num > 1 -%}
      <a href="blog/index/{{ page_num - 1 }}.html">Previous Page</a>
      {%- endif %}
      {% if page_num > 1 and page_num < num_pages -%}
      &#8226;
      {%- endif %}
      {% if page_num < num_pages -%}
      <a href="blog/index/{{ page_num + 1 }}.html">Next Page</a>
      {%- endif %}
    </p>
  </div>
</div>

{% if posts|length == 0 %}
  <div class="pure-g page">
    <div class="pure-u-1">
      <p>There's no content here yet...</p>
    </div>
  </div>
{% endif %}

{% endblock %}
