{% extends "master.html" %}
{% set name = "blog" %}
{% set title = title|default("Blog") -%}
{% block main %}

<div class="row">
  <div class="large-12 columns blog-description">
    <p style="float: left;" class="hide-for-small">Physics, Programming, Rockets. Welcome to my blog :)</p>
    <p style="float: left;" class="show-for-small" id="blog-tagline">Rockets :)</p>
    <p class="text-right"><a href="/blog/rss.xml">Subscribe (RSS)</a></p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {% block postarea %}
    {% for meta, html in posts %}
    <div class="panel post">
      <div class="meta">
        <h1><a href="/blog/{{ meta.postid }}.html">{{ meta.title }}</a></h1>
        <hr />
        <p class="metameta">
        Written by {{ meta.author }} on {{ meta.date.strftime("%Y-%m-%d %H:%M") }}
        </p>
      </div>
      <div class="content">
        {{ meta.excerpt }}
        <p class="readmore"><a href="/blog/{{ meta.postid }}.html">&gt;&gt; Read more</a></p>
      </div>
    </div>
  {% endfor %}
    <div class="pagectrl">
      {% if previous_page %}
      <a href="/blog/page/{{ previous_page }}.html">Newer Entries</a> |
      {% endif %}
      Page {{ current_page }} of {{ total_pages }}
      {% if next_page %}
      | <a href="/blog/page/{{ next_page }}.html">Older Entries</a>
      {% endif %}
    </div>
  {% endblock %}
  </div>
</div>

{% endblock %}

{% block end %}
{% if mathjax or (meta and meta.mathjax) %}
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script>
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['\\(','\\)']],
    processEscapes: true
  }
});
</script>
{% endif %}
<script>
$(function() {
  var taglines = ["Rockets :)", "Physics <3", "Programming ^_^"];
  $("#blog-tagline").text(taglines[Math.floor(Math.random() * taglines.length)]);
});
</script>
{% endblock %}
