{% set navbar = [
	("/", "home", "Home"),
	("/showcase/", "showcase", "Showcase"),
	("/talks/", "talks", "Talks"),
	("/cv/", "cv", "CV"),
	("/blog/", "blog", "Blog"),
	("/certs/", "certs", "Certificates"),
	("/contact/", "contact", "Contact Me")
] -%}

{% set name = name|default("home") -%}
{% set title = title|default("Home") -%}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width" />

	<title>{{ title }} - Shuhao</title>

	<link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
	<link rel="stylesheet" href="/static/stylesheets/app.css">
	{% if name == "cv" %}
	<link rel="stylesheet" href="/static/stylesheets/cv.css">
	{% endif %}

	{% if lightbox or (meta and meta.lightbox) %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/czbox.css">
	{% endif %}

	<script src="/static/js/custom.modernizr.js"></script>

	{% block head %}
	{% endblock %}

</head>
<body>

	<div class="contain-to-grid sticky show-for-small topthing">
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">Shuhao Wu</a></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul class="left">
					{% for href, id, caption in navbar %}
					<li><a href="{{ href }}" {% if id == name %}class="active"{% endif %}>{{ caption }}</a></li>
					{% endfor %}
				</ul>
			</section>
		</nav>
	</div>

	<div class="container master">
		<div class="row hide-for-small topthing">
			<div class="large-12 columns">
				<nav class="desktop">
					<ul>
						{% for href, id, caption in navbar %}
						<li><a href="{{ href }}" {% if id == name %}class="active"{% endif %}>{{ caption }}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<h1 class="light-weight">Shuhao Wu</h1>
				<hr />
			</div>
		</div>

		{% block main %}
		{% endblock %}

		<footer>
			<p>Shuhao 2013</p> <p>All content licensed under CC-BY-SA-NC 3.0</p>
		</footer>

	</div>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/foundation.min.js"></script>
	<script>$(document).foundation();</script>

	{% if lightbox or (meta and meta.lightbox) %}
	<script type="text/javascript" src="/static/js/czbox2.js"></script>
	<script type="text/javascript">CzBox.create();</script>
	{% endif %}

	{% block end %}
	{% endblock %}
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-9814837-6']);
	_gaq.push(['_setDomainName', '.shuhaowu.com']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>

</body>
</html>
