{% extends "blog.html" %}
{% block main %}
<div class="row">
  <div class="twelve columns">
    <div class="panel post">
      <div class="meta">
        <h1><a href="/blog/{{ postid }}.html">{{ title }}</a></h1>
        <hr />
        <p class="metameta">Written by {{ author }} on {{ date.strftime("%Y-%m-%d %H:%M") }}</p>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="pagectrl"><a href="/blog"><< Back to Blog</a></div>
    <script>
    var idcomments_acct = 'b9dac90709b35ebb9ee6fda13a5512e4';
    var idcomments_post_id = "{{ postid }}";
    var idcomments_post_url = "https://shuhaowu.com/blog/{{ postid }}.html";
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  </div>
</div>
{% endblock %}
