{% extends "blog.html" %}
{% block main %}
<div class="row">
  <div class="large-12 columns">
    {% if not published %}
    <div class="blog-description">
      <div class="draft-notice">This post is currently a draft. You can help me edit by clicking <a href="https://github.com/shuhaowu/shuhaowu.github.com/blob/master/posts/{{ filename }}">here</a>. Thank you :)</div>
    </div>
    {% endif %}
    <div class="panel post">
      <div class="meta">
        <h1><a href="/blog/{{ postid }}.html">{{ title }} {% if not published %}[DRAFT]{% endif %}</a></h1>
        <hr />
        <p class="metameta">Written by {{ author }} on {{ date.strftime("%Y-%m-%d %H:%M") }}</p>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="pagectrl"><a href="/blog">&lt;&lt; Back to Blog</a></div>
  </div>
</div>
{% endblock %}
