{% set active_page = "contact" %}

{% extends "templates/_base.html" %}

{% block title %}Contact - Shuhao{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1 page contact">
    <table class="pure-table pure-table-striped">
      <tbody>
        <tr>
          <td>Email</td>
          <td><a href="mailto:shuhao@shuhaowu.com">shuhao@shuhaowu.com</a></td>
        </tr>
        <tr>
          <td>Github</td>
          <td><a href="https://github.com/shuhaowu" target="_blank">@shuhaowu</a></td>
        </tr>
        <tr>
          <td>LinkedIn</td>
          <td><a href="https://www.linkedin.com/in/shuhao-wu-2712ba4a/" target="_blank">Shuhao Wu</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
