{% set active_page = "home" %}

{% extends "templates/_base.html" %}

{% block title %}Shuhao's Homepage{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="splash">
  <h1>
    Shuhao Wu
    <br>
    <small>Software | Robotics | Fluid Dynamics</small>
  </h1>
  <p>
    <a href="resume.html">Résumé</a>
  </p>
  <p>
    <a href="projects.html">Project showcase</a>
  </p>
  <p>
    <a href="blog/index/">Blog</a>
  </p>
  <p>
    <a href="contact.html">Contact</a>
  </p>

  <div class="cactus">&#9883; &#127797; &#9883;</div>
</div>
{% endblock %}
