{% set active_page = "projects" %}

{% extends "templates/_base.html" %}

{% block title %}Projects - Shuhao{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1 page project-category">
    <h1>Current or recent projects</h1>
    <p>These are some of the projects that I'm currently working on or have recently worked on. My open source work can also be found on <a href="https://github.com/shuhaowu" target="_blank">Github</a>.</p>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="snellie">
      <h2 class="project-name"><a href="projects.html#snellie">Snellie the robot</a> &#127797;&#9883;</h2>
      <div class="img">
        <a href="static/imgs/projects/snellie.jpg" target="_blank">
          <img src="static/imgs/projects/snellie.jpg" />
        </a>
      </div>
      <p>I'm currently in the process of implementing an indoor, autonomous robot. Implemented FastSLAM, A*, and DWA algorithms from first principle. Some parts of this are open source, such as <a href="https://github.com/shuhaowu/create2remix" target="_blank"><code>create2remix</code></a> and <a href="https://github.com/ros-realtime/ros-realtime-rpi4-image" target="_blank">ros-realtime-rpi4-image</a>.</p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="turb-spot">
      <h2 class="project-name"><a href="projects.html#turb-spot">Turbulent spot research</a></h2>
      <div class="img">
        <a href="static/imgs/projects/turb-spot.jpg" target="_blank">
          <img src="static/imgs/projects/turb-spot.jpg" />
        </a>
      </div>
      <p>I studied the fluid dynamic interactions between a turbulent spot with a cavity with two distinct methods of numerical simulations as well as with experiments. <a href="https://doi.org/10.1063/5.0062617" target="_blank">See the paper here</a>.</p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="traverse">
      <h2 class="project-name"><a href="projects.html#traverse">Window tunnel sensor positioning system</a></h2>
      <div class="img">
        <a href="static/imgs/projects/traverse.png" target="_blank">
          <img src="static/imgs/projects/traverse.png" />
        </a>
      </div>
      <p>While <a href="projects.html#turb-spot">studying fluid dynamics</a> using experiments, I designed and built an automated sensor positioning system that achieved positioning accuracy of up to 0.025mm. This system was deployed within the wind tunnel for more than 500 hours of experiments. See Appendix A of my thesis for details (link missing due to pending publication).</p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="ghostferry">
      <h2 class="project-name"><a href="projects.html#ghostferry">Ghostferry</a></h2>
      <div class="img">
        <a href="static/imgs/projects/ghostferry.png" target="_blank">
          <img src="static/imgs/projects/ghostferry.png" />
        </a>
      </div>
      <p>As a part of my <a href="resume.html#shopify">job at Shopify</a>, I worked on <a href="https://github.com/shopify/ghostferry" target="_blank">Ghostferry</a>, which is an open source library can selectively copy data from one MySQL instance to another with minimal downtime downtime. This tool has deployed into production and moved petabytes of data to balance the database shards as a part of <a href="https://shopify.engineering/mysql-database-shard-balancing-terabyte-scale" target="_blank">shop mover</a> <a href="https://cloud.google.com/blog/topics/retail/shopify-and-google-cloud-team-up-for-an-epic-bfcm-weekend" target="_blank">before each year's Black Friday.</a></p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="mysqld-bpf">
      <h2 class="project-name"><a href="projects.html#mysqld-bpf">Tracing MySQL with BPF</a></h2>
      <div class="img">
        <a href="static/imgs/projects/mysqld-bpf.png" target="_blank">
          <img src="static/imgs/projects/mysqld-bpf.png" />
        </a>
      </div>
      <p>
        <a href="https://www.brendangregg.com/ebpf.html" target="_blank">BPF</a> is a Linux technology that can enable custom tracing of any kernel and userspace application. My <a href="https://github.com/shuhaowu/mysqld-bpf" target="_blank">example repo</a>, which was open sourced as the supplementary material to a bug report to MySQL, shows the ability to trace MySQL query execution by hooking into specific function calls via BPF. I am also looking at using this, as well as other technologies such as <a href="https://lttng.org/" target="_blank">LTTng</a>, to trace real-time audio and robotics systems.
      </p>
    </div>
  </div>


  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="itad-omni">
      <h2 class="project-name"><a href="projects.html#itad-omni">iTAD Omni robot</a></h2>
      <div class="img">
        <a href="static/imgs/projects/itadomni.png" target="_blank">
          <img src="static/imgs/projects/itadomni.png" />
        </a>
      </div>
      <p>
        iTAD Omni is an omnidirectional robotics platform measuring 2 feet across capable of driving 120lb of weight. Originally developed for the iTAD fourth year project, the system now serves as a robotics research platform in Carleton University's Advanced Biomechatronics and Locomotion Laboratory.
      </p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="ros-realtime-rpi4-image">
      <h2 class="project-name"><a href="projects.html#ros-realtime-rpi4-image">Realtime ROS2 image builder</a></h2>
      <div class="img">
        <a href="static/imgs/projects/ros-realtime-rpi4-image.png" target="_blank">
          <img src="static/imgs/projects/ros-realtime-rpi4-image.png" />
        </a>
      </div>
      <p>Originally designed for <a href="projects.html#snellie">Snellie</a>, the Realtime ROS2 image builder builds a Raspberry Pi 4 image preinstalled with the <code>PREEMPT_RT</code> kernel and ROS2. <a href="https://github.com/ros-realtime/ros-realtime-rpi4-image" target="_blank">See the Github repository for details</a>.</p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="traffic-counter">
      <h2 class="project-name"><a href="projects.html#traffic-counter">Traffic counter</a> &#127797;&#9883;</h2>
      <div class="img">
        <a href="static/imgs/projects/traffic-counter.png" target="_blank">
          <img src="static/imgs/projects/traffic-counter.png" />
        </a>
      </div>
      <p>
        At the start of the COVID19 pandemic, I setup a camera at my house that counted the cars entering the highway. The filtering and tracking of cars are performed via a custom algorithm written with OpenCV. During the initial weeks of the lockdown, the system logged a 30% decrease in traffic. A second version of the system was put in place later in the year, and has now continuously recorded data for almost 12 months.
      </p>
    </div>
  </div>

  <!--
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="portable-pm-sensor">
      <h2 class="project-name"><a href="projects.html#portable-pm-sensor">Portable PM sensor</a> &#127797;&#9883;</h2>
    </div>
  </div>
  -->


  <div class="pure-u-1 page project-category">
    <h1>Inactive and archived projects</h1>
    <p>These are projects I've worked on in the past and have since archived.</p>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="adc">
      <h2 class="project-name"><a href="projects.html#adc">Automatic Document Classifier</a></h2>
      <div class="img">
        <a href="/static/imgs/projects/adc.png" target="_blank">
          <img src="static/imgs/projects/adc.png" />
        </a>
      </div>
      <p>
        Long ago, I worked on a news article classifier with Naive Bayes and <a href="https://en.wikipedia.org/wiki/Tf%E2%80%93idf" target="_blank">TF-IDF</a>.
      </p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="projecto">
      <h2 class="project-name"><a href="projects.html#projecto">Projecto</a></h2>
      <div class="img">
        <a href="/static/imgs/projects/projecto.png" target="_blank">
          <img src="static/imgs/projects/projecto.png" />
        </a>
      </div>
      <p>
        Also a long time ago, I worked on an open source project management application called <a href="https://github.com/shuhaowu/projecto" target="_blank">Projecto</a>.
      </p>
    </div>
  </div>

</div>

  <!--
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="callout project" id="runefoil">
      <h2 class="project-name"><a href="projects.html#runefoil">Runefoil</a></h2>
      <p>
        <a href="https://github.com/shuhaowu/runefoil" target="_blank">Runefoil</a> is a container-based, GUI-enabled execution environment that blocks outgoing network connection for Linux. This is used to securely run <a href="https://github.com/runelite/runelite" target="_blank" ref="nofollow">Runelite</a>, which is a third party client for the game RuneScape.
      </p>
    </div>
  </div>
  -->

{% endblock %}
